
@media (min-width: 40em){
    .navigation{
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: row;
}
.navigation li{
    display: block;
    flex: 1 1 100%;
}
nav ul{
    overflow: visible;
}
#menu{
    display: none;
}
nav{
    grid-area: 2/ 1 /3 /5;
    

}
.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    
}
.list{
    display: flex;
    flex-direction: column;
    margin: 0pt;
}


.grid .card:nth-child(even){
    margin-left: 10pt;
}
.grid .card:nth-child(odd){
    margin-right: 10pt;
}
}
#btn_block{
    display: block;
    text-align: center;
    margin: 10px;
   
}

#btn_block button{
    color: white;
    background-color: rgb(31, 28, 76);
    padding: 10px;
}