
@media (min-width: 40em){
    /* .navigation{
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: row;
}
.navigation li{
    display: block;
    flex: 1 1 100%;
}
#menu{
    display: none;
}
nav{
    grid-column: 3/5;
} */
}